<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
    </head>
    <body>
        <h1>Login</h1>
        <form enctype='application/json' action="/login" method="post">
            Email:<br>
            <input type="email" name="email">
            <br>
            Username:<br>
            <input type="text" name="username">
            <br>
            Password:<br>
            <input type="password" name="password">
            <br>
            Confirm password:<br>
            <input type="password" name="confirmPassword">
            <br><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>