<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Register</title>
        <link rel="stylesheet" type="text/css" href="style/auth/register.css">
    </head>
    <body>
        <h1>Login</h1>
        <form id="register-from" enctype="application/json" action="/register" method="post">
            Email:<br>
            <input id="email-input" type="email" name="email">
            <br>
            Username:<br>
            <input id="username-input" type="text" name="username">
            <br>
            Password:<br>
            <input id="password-input" type="password" name="password">
            <br>
            Confirm password:<br>
            <input id="confirm-password-input" type="password" name="confirmPassword">
            <br><br>
            <input id="submit-button" type="submit" value="Submit" disabled >
        </form>

        <script type="text/javascript" src="script/auth/register.js"></script>
    </body>
</html>